@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <h4 id="title">Title</h4>
        <span class="ml-md-auto top-bar-link-container">
            <UnitToggle AvailableOptions="availableTemperatureScales" SelectedOption="unit" OnSelected="onSelected"></UnitToggle>
            <NavLink class="oi oi-star" href="favorites">
            </NavLink>
        </span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>